.not_found {
    padding: 40px 0;

    img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    a {
        color: var(--hover-color);
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 3px;
        cursor: pointer;

        &:hover {
            color: var(--main-color);
        }
    }
}
